<nav class="navbar navbar-fixed-top scrolling-navbar double-nav mdb-color">
        <!-- SideNav slide-out button -->
        <div class="pull-left">
            <a class="button-collapse" data-activates="slide-out" href="#"><i class="fa fa-bars"></i></a>
        </div>
        <!-- Breadcrumb-->
        <div class="breadcrumb-dn">
            <p>Bradcrumb</p>
        </div>
        <!--Navigation icons-->
        <ul class="nav-icons">
            <li class=" waves-effect waves-light"><a data-target="#contactForm" data-toggle="modal" class="" href="#"><i class="fa fa-envelope-o"></i><br><span>Contact</span></a></li>
            <li class=" waves-effect waves-light"><a class="" href="http://mdbootstrap.com/forums/forum/support/"><i class="fa fa-comments-o"></i><br><span>Support</span></a></li>
            <li class=" waves-effect waves-light"><a class="" id="show_login" href="#"><i class="fa fa-sign-in"></i><br><span>LogIn</span></a></li>
        </ul>
    </nav>