 <!-- SideNav slide-out button -->
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
    <!--/. SideNav slide-out button -->
    <!-- Sidebar navigation -->
    <ul id="slide-out" class="side-nav fixed admin-side-nav dark-side-nav">

        <div class="logo-wrapper">
            <img src="http://0.gravatar.com/avatar/60efa32c26a19f3ed2e42798afb705ba?s=100&d=mm&r=g" class="img-fluid img-circle">
            <div class="rgba-stylish-strong">
                <p class="user white-text">Admin
                    <br> admin@gmail.com
                </p>
            </div>
        </div>

        <!-- Side navigation links -->
        <ul class="collapsible collapsible-accordion">
            <li><a href="#" class="waves-light"><i class="fa fa-home"></i> Home</a></li>
            <li><a class="collapsible-header waves-effect"><i class="fa fa-home"></i>Click me</a>
            <div class="collapsible-body">
                <ul>
                    <li><a href="#" class="waves-effect">Link</a>
                    </li>
                    <li><a href="#" class="waves-effect">Link</a>
                    </li>
                </ul>
            </div>
        </li>
            <li><a href="#" class="waves-light"><i class="fa fa-money"></i> Sales</a></li>
            <li><a href="#" class="waves-light"><i class="fa fa-line-chart"></i> Conversion</a></li>
            <li><a href="#" class="waves-light"><i class="fa fa-users"></i> Website Traffic</a></li>
            <li><a href="#" class="waves-light"><i class="fa fa-search"></i> SEO</a></li>
            <li><a href="#" class="waves-light"><i class="fa fa-share-alt"></i> Social</a></li>
        </ul>
        <!--/. Side navigation links -->
    </ul>
    <!--/. Sidebar navigation -->